*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header_container{
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(22, 22, 23, .8);
    align-items: center;
    top: 0;
    z-index: 1;
}
nav{
    margin: 0 auto;
}
.header_container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}
nav ul li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav ul li a{
    color: rgb(200, 200, 206);
}
nav ul li a:hover{
    color: white;
    transition: all 0.8s;
    animation-delay: 0.3s;
}
.apple_icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.container{
    width: 100%;
    margin-top: 70px;
    position: relative;
}
.icon{
    width: 20px;
    height: 20px;
}
.apple_box{
    background-color: black;

}
.apple_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.links a{
    color: rgb(34, 80, 246);
    font-size: 30px;
    margin-left: 20px;

}
.apple_box h1{
    font-size: 50px;
    color: white;

}
.apple_box h3{
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.links a:hover{
    text-decoration: underline;
}
.background_img{
   width: 100%;
   padding: 50px 100px 0 100px;
}
.background_img img{
    width: 100%;
}
.white_container{
    width: 100%;
    background-color: white;
    margin-top: 40px;
}
.mobile_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobile_box h1{
    font-size: 50px;
}
.mobile_box h3{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mobile_box a{
    color: rgb(34, 80, 246);
    font-size: 30px;
    margin-left: 20px;
}
.mobile_box a:hover{
    text-decoration: underline;
}
.background_imgg{
    padding: 50px 200px 0 200px;
}
.background_imgg img{
    width: 100%;
}
.mobile_header{
    display: none;
}
.burger_bar{
    display: none;
}
@media (max-width:1024px)  {
    nav{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .mobile_icon{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
}
.burger_bar{
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 51px;
    
}
.burger_bar li {
    font-size: 28px;
    margin-top: 20px;
}
.burger_bar a{
    color: rgb(225, 225, 225);
    text-decoration: none;
}
.burger_bar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.8s;
    animation-delay: 0.5s;
    font-size: 29px;
}
.container_box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.aplle_box_icon{
    width: 35px;
    height: 35px;
    
}
.boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 49%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
.in_box div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.in_box{
    display: flex;
    flex-direction: column;
}
.boxs p{
    font-weight: 600;
    font-size: 40px;
}
.boxs span{
    font-size: 20px;
    word-spacing: 4px;
    font-weight: 400;
}
.tradein{
    margin-left: 6%;
}
.box_backgroundimg{
    width: 100%;
    height: 50%;
    position: relative;
}
.boxs img{
    width: 100%;
    object-fit: cover;
}
.in_box_text{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.on_text{
    position: absolute;
    color: white;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.on_text a{
    font-size: 40px;
    color: rgb(81, 81, 253);
}
.on_text a:hover{
    text-decoration: underline;
}
.on_text span{
    font-size: 20px;
    font-weight: 500;
}
.in_box_text img{
    width: 60px;
}
.boxs_back{
    height: 100%;
}
.tradein:hover{
    text-decoration: underline;
}
#searchh{
    display: none;
    position: absolute;
    top: 100%;
    height: 0px;
    z-index: -1;
    justify-content: inherit;
    padding-left: 15%;
    padding-top: 3%;
    width: 100%;
    background-color: rgba(22, 22, 23, 0.99);;
}
#searchh input{
    height: 8%;
    width: auto;
    font-size: 25px;
    background-color: rgba(22, 22, 23, 1);
    border: none;
}
#searchh input:focus{
    outline: none;
}
#searchh ::placeholder{
    font-size: 25px;
    border: none;
    color: rgb(184, 194, 204);
}
.input{
    display: flex;
    justify-content: inherit;
    align-items: start;
    gap: 4px;
}
#searchh span{
    color: rgb(209, 213, 217);
    font-size: 20px;
}
.head_links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    gap: 5px;
}
.head_links a{
    font-size: 18px;
    color: wheat;
    display: flex;
}
.head_links img{
    width: 15px;
}
.img_links a:hover{
    font-size: 20px;
    color: white;
    transition: all 1s;
}
.img_links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#bag{
    display: none;
    position: absolute;
    top: 100%;
    height: 0px;
    z-index: -1;
    justify-content: center;
    width: 100%;
    background-color: rgba(22, 22, 23, 0.99);
    align-items: center;
    flex-direction: column;
}
#bag p{
    font-size: 30px;
    color: azure;
}
#bag span{
    font-size: 25px;
    margin-top: 20px;
    color: wheat;
}
#bag a{
    font-weight: 800;
    text-decoration: underline;
}
.signin_container{
    padding-left: 19%;
    padding-right: 19%;
    margin-top: 70px;
}
.signin_container{
    font-size: 30px;
    font-weight: 500;
}
.sign_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 5%;
}
.sign_box{
    font-size: 30px;
    opacity: 0.8;
    font-weight: 700;
}
.sign_box input{
    width: 30%;
    height: 35px;
    border-radius: 8px;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 25px;
    opacity: 0.8;
}
.checkbox_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

}
.checkbox_line input{
    width: 15px;
    height: 15px;
    border-radius: ;
}
.checkbox_line input:focus{
   box-shadow: rgba(0, 94, 246, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.checkbox_line span{
    font-size: 25px;
}
.sign_box input:focus{
    outline: none;
    border: 2px solid rgb(14, 58, 203);
    opacity: 0.8;
}
.signin_container a{
    font-size: 20px;
    color: rgb(65, 119, 235);
}
.apple_id{
    font-size: 20px;
}
.into_line{
    height: 1px;
    opacity: 0.3;
    position: absolute;
    top: 70%;
    width: 100%;
    background-color: black;
   
}
.foot_into_line{
    height: 1px;
    opacity: 0.3;
    position: absolute;
    top: 70%;
    width: 54%;
    background-color: black;
   
}
.before_footer{
    position: absolute;
    top: 72%;
    padding-left: 19%;
}
.foot_container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4%;
    height: 200px;
    background-color: antiquewhite;
    width: 100%;
}
.foot_box{
    padding-left: 19%;
    padding-right: 19%;
}
@media (max-width:1060px){
    .container_box{
        justify-content: center;
    }
    .boxs{
        width: 100%;
    }
}
@media (max-width:820px){
    .signin_container h2{
        font-size: 35px;
    }
}
@media (max-width:768px){
    .background_imgg{
        padding: 0;
        padding-top: 20px;
    }
    .background_img{
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:660px){
    .before_footer{
        padding-left: 5%;
        top: 58%;
    }
    .signin_container h2{
        font-size: 25px;
    }
    .signin_container {
        padding-left: 7%;
        padding-right: 7%;
        margin-top: 70px;
    }
    .foot_box {
        padding-left: 5%;
        padding-right: 5%;
    }
    .into_line{
        top: 65%;
    }
    .foot_into_line {
        height: 1px;
        opacity: 0.3;
        position: absolute;
        top: 70%;
        width: 90%;
        background-color: black;
    }
}
@media (max-width:500px){
    #searchh{
        padding-left: 5%;
    }
    .signin_container{
        padding-left: 2%;
    }
    .sign_box input{
        width: 50%;
    }
    .sign_box p{
        font-size: 15px;
    }
    .checkbox_line span {
        font-size: 15px;
    }
    .signin_container a {
        font-size: 15px;
    }
}
@media (max-width:328px){
    .apple_box h1 {
        font-size: 30px;
    }
    .foot_into_line{
        display: none;
    }
    #searchh ::placeholder{
        font-size: 20px;
        border: none;
        color: rgb(184, 194, 204);
    }
    .apple_box h3{
        font-size: 20px;
    }
    .links a{
        font-size: 20px;
    }
    .container{
        margin-top: 60px;
    }
    .mobile_box h3{
        font-size: 20px;
    }
    .mobile_box h1{
        font-size: 30px;
    }
    .background_img{
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .boxs p{
        font-size: 30px;
    }
    .boxs span{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .tradein{
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .in_box{
        gap: 3px;
    }
}

